{% if login %}
<form method="POST" action="{{ url_for('login') }}">
{% else %}
<form method="POST" action="{{ url_for('register') }}">
{% endif %}
    <!-- username -->
    <div class="form-group">
        <i class="far fa-user"></i>
        <label for="username" class="auth-title">Username</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" pattern="^[a-zA-Z0-9]{5,15}" required>
    </div>
    <!-- password -->
    <div class="form-group">
        <i class="fas fa-unlock-alt"></i>
        <label for="password" class="auth-title">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div class="center">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
</form>