{% extends "layout/base.html" %}
{% block content %}

<div class="flex-container form-card container">
    <form method="POST" action="" class="recipe-form row" enctype="multipart/form-data">
        <div class="form-container col-sm-12">
            <label for="recipe_name">Recipe Title</label>
            <input type="text" class="form-input" id="recipe_name" name="recipe_name" required>
        </div>
        <div class="form-container col-sm-12">
            <label for="author">Author</label>
            <input type="text" class="form-input" id="author" name="author" required>
        </div>
        <div class="form-container col-sm-6">
            <label for="serves">Serves</label>
            <input type="text" class="form-input" id="serves" name="serves">
        </div>
        <div class="form-container col-sm-6">
            <label for="date_baked">Date baked</label>
            <input type="text" class="form-input" id="date_baked" name="date_baked" required>
        </div>
        <div class="form-container col-sm-6 f-space">
            <label for="category_name">Category</label>
            <select class="form-input" id="category_name" name="category_name" required>
                <option value="" disabled selected>Choose category</option>
                {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-container col-sm-6 f-space">
            <label for="health_rating">Health Rating</label>
            <select class="form-input" id="health_rating" name="health_rating" required>
                <option value="" disabled selected>Choose health rating</option>
                {% for rating in ratings %}
                <option value="{{ rating.health_rating }}">{{ rating.health_rating }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-container col-sm-12">
            <label for="notes">Notes</label>
            <input type="text" class="form-input" id="notes" name="notes" required>
        </div>
        <div class="form-container col-sm-12 f-space">
            <label for="ingredients">Ingredients</label>
            <p class="form-text">Ensure there is a comma between each ingredient.</p>
            <input type="text" class="form-input" id="ingredients" name="ingredients">
        </div>
        <div class="form-container col-sm-12 f-space">
            <label for="method">Method</label>
            <p class="form-text">Ensure there is a slash '/' between each step."</p>
            <input type="text" class="form-input" id="method" name="method" required>
        </div>
        <div class="btn col-sm-12 left-btn">
            <input type="file" class="file" accept="image/*" name="photo_url" id="photo_url" required>
        </div>
        <div class="center col-sm-12 center-btn">
            <button type="submit" class="button">Add Recipe</button>
        </div>
    </form>
</div>


{% endblock %}