{% extends "layout/base.html" %}
{% block content %}

<div class="flex-container form-card container">
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="recipe-form row">
        <img src="../../static/images/muffin.jpg" class="form-image col-sm-6" alt="">
        <div class="col-sm-6">
            <div class="form-container">
                <label for="recipe_name"></label>
                <input type="text" class="form-input" id="recipe_name" value="{{ recipe.name }}" name="recipe_name" placeholder="Recipe Title">
            </div>
            <div class="form-container">
                <label for="author"></label>
                <input type="text" class="form-input" id="author" value="{{ recipe.author }}" name="author" placeholder="Author">
            </div>
            <div class="form-container">
                <label for="category_name"></label>
                <select class="form-input" id="category_name" name="category_name" required>
                        <option value="" disabled>Choose category</option>
                        {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                        {% endfor %}
                </select>
            </div>

            <div class="form-container">
                <label for="health_rating"></label>
                <select class="form-input" id="health_rating" name="health_rating" required>
                        <option value="" disabled>Choose health rating</option>
                        {% for rating in ratings %}
                            {% if rating.health_rating == recipe.health_rating %}
                                <option value="{{ rating.health_rating }}" selected>{{ rating.health_rating }}</option>
                            {% else %}
                                <option value="{{ rating.health_rating }}">{{ rating.health_rating }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>

            
            <div class="form-container">
                <label for="serves"></label>
                <input type="text" class="form-input" id="serves" value="{{ recipe.serves }}"name="serves" placeholder="Serves">
            </div>
            <div class="form-container">
                <label for="date_baked"></label>
                <input type="text" class="form-input" id="date_baked" value="{{ recipe.create_date }}"name="date_baked" placeholder="Date baked">
            </div>
            <div class="form-container">
                <label for="notes"></label>
                <input type="text" class="form-input" id="notes" value="{{ recipe.notes }}" name="notes" placeholder="Notes">
            </div>
            <div class="form-container">
                <label for="ingredients"></label>
                <input type="text" class="form-input" id="ingredients" value="{{ recipe.ingredients }}" name="ingredients" placeholder="Ingredients">
            </div>
            <div class="form-container">
                <label for="method"></label>
                <input type="text" class="form-input" id="method" value="{{ recipe.method }}" name="method" placeholder="Method">
            </div>
            <div class="center">
                <button type="submit" class="button">Edit</button>
                <a href="{{ url_for('get_recipes')}}">Cancel</a>
            </div>
        </div>
    </form>
</div>
  

{% endblock %}