{% extends "layout/base.html" %}
{% block content %}

<div class="d-flex justify-content-center">
    <h1 class="prof-title"> {{ username }}'s Profile</h1>
</div>



<div class="container">
    <div class="row block">
        <div class="col-sm-5">
            <img src="../../../static/images/cupcakes.jpg" alt="recipe-picture" class="recipe-pic shadow">
        </div>
        <div class="col-sm-7 left profile">
            <p>Welcome <span class="capitalize">{{ username }}</span> to Gorgeen Recipes!</p>
            <p>Feel free to browse, cook, bake and add as many recipes as you like.</p>
        </div>
    </div>
</div>


{% endblock %}