{% extends "layout/base.html" %}
{% block content %}

<div class="d-flex justify-content-center">
    <form method="POST" action="{{ url_for('get_register') }}">
        <!-- username -->
        <div class="form-group">
            <i class="far fa-user"></i>
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}" required>
        </div>
        <!-- email -->
        <div class="form-group">
            <i class="far fa-envelope"></i>
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <!-- password -->
        <div class="form-group">
            <i class="fas fa-unlock-alt"></i>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" minlength="8" maxlength="20" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}