@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    color: #1400A2;
}





.alert {
    text-align: center;
}

.alert-info {
    padding: 5px;
    font-size: 1rem;
}

.form-input {
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 5px;
    width: 100%;
    background-color: #c3aed6;
    color: white;
}

::placeholder {
    color: white;
}

input:focus {
      border-bottom: 2.5px solid pink;
      outline: 0;  
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.recipe-form {
    width: 75%;
    padding: 5% 0;
}

.form-card {
    margin: 8% 5%;
    border: 2px solid #c3aed6;;
    background-color: #c3aed6;
    border-radius: 2%;
}

.form-image {
    background-position: center;
    background-size: contain;
    width: 25%;
}


.form-photo {
    background-position: left center;
    background-size: inherit;
    max-height: 70%;
}

.button {
    background-color: white;
    border-radius: 10%;
    border: 1px #fff;
    padding: 1%;
    margin-top: 2%;    
}

.icon {
    width: 5%;
}

/* Recipe Page */ 

.recipe-pic {
    max-width: 100%;
}


h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.center {
    margin: auto;
    text-align: left;
    padding-left: 3%;
}

.recipe-title {
    padding-bottom: 3%;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.icon {
    padding-right: 1%;
}

.vl {
    border-bottom: 1px solid black;
    width: 10%;
    margin-bottom: 5%;
}

.notes {
    margin-top: 15%;
}

.block {
    margin-top: 3%;
}

.bold {
    font-weight: bold;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Nav link */

.navbar {
    margin-bottom: 5%;
}

.nav-link {
    text-transform: uppercase;
    color: #1400A2;
    font-weight: bold;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 25%;
}