@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

.alert {
    text-align: center;
}

.alert-info {
    padding: 5px;
    font-size: 1rem;
}

.form-input {
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 5px;
    width: 100%;
    background-color: #c3aed6;
    color: white;
}

::placeholder {
    color: white;
}

input:focus {
      border-bottom: 2.5px solid pink;
      outline: 0;  
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.recipe-form {
    width: 75%;
    padding: 5% 0;
}

.form-card {
    margin: 8% 5%;
    border: 2px solid #c3aed6;;
    background-color: #c3aed6;
    border-radius: 2%;
}

.form-image {
    background-position: center;
    background-size: contain;
    width: 25%;
}


.form-photo {
    background-position: left center;
    background-size: inherit;
    max-height: 70%;
}

.button {
    background-color: white;
    border-radius: 10%;
    border: 1px #fff;
    padding: 1%;
    margin-top: 2%;    
}

.icon {
    width: 5%;
}