@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")


body {
  font-family: 'Roboto', sans-serif;
}

.alert {
    text-align: center;
}

.alert-info {
    padding: 5px;
    font-size: 1rem;
}