<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'layout/head.html' %}
</head>
<body>

<header>
    {% include 'components/navbar.html' %}
</header>

<section>
    <!--  display flash messages to users -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                  <h3 class="alert-info">{{ message }}</h3>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

</body>
<script src="{{ url_for('static', filename='../../static/js/script.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>