<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'layout/head.html' %}
</head>
<body>

<header>
    {% include 'components/navbar.html' %}
</header>

<section>
    <!--  display flash messages to users -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    <h3 class="alert-info">{{ message }}</h3>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% include 'components/footer.html' %}
</footer>
 
 {% include 'layout/scripts.html' %}

</body>

</html>